body {
    background-color: black;
    color: white;
    font-family: 'Avenir', sans-serif;
    margin: 0;
    padding: 0;
    overflow: auto;
}

.header {
    text-align: center;
    position: relative;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; /* Change this to flex-start */
    align-items: center;
    padding-top: 20px; /* Add some top padding */
}

.header h1 {
    margin: 0;
    font-size: 3.5em;
}

.header h2 {
    margin: 0;
    font-size: 1.3em;
    padding-top:1rem;
}

#main-image {
    max-width: 100%; /* Adjust as needed */
    height: auto;
    margin: 0 auto;
    display: block;
    object-fit: cover;
    max-height: 500px;
   /* padding-top:2rem;*/ /* Added padding */
}

.arrow {
    position: absolute;
    bottom: 20px;
    cursor: pointer;
    font-size: 3em;
    text-decoration: none;
    color:white;
}

a{
    text-decoration: none;
    color:white;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 50px 0;
}

.row {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.row img {
    margin: 0 10px;
    width: calc((100% - 40px) / 3);
    height: auto;
    object-fit: cover;
    max-height: 300px;
}

.about-section {
    margin: 0 auto;
    max-width: 900px;
    padding: 40px;
    color: white;
    font-size: 1.2em;
    line-height: 1.6;
}
